* {
  margin: 0;
  padding: 0; }

.producto-config {
  text-align: center; }

.header-footer {
  padding: 3rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly; }

ul a {
  text-decoration: none;
  color: white;
  border: solid 3px orange;
  margin: 6px;
  padding: 6px;
  display: flex; }
