@import "../variables/variables";

@mixin header-footer {
    padding: 3rem;
    background-color: $color-head-foot;
    color: $color-letras; 
    display: flex;
    justify-content: space-evenly;
   
}

.pago-envio i{
    font-size: 90px;
    color: black;
}

.pago-envio p{
    padding-top: 2rem;
}

.pago-envio{
    margin: auto;
    padding-top: 8rem;
    height: 22rem;
    width: 22rem;
    color: black;
    text-align: center;
    

}

.nosotros-section{
    margin: 3rem;
    padding: 2rem;
    background-color: orange;
}

.video-config{
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.carousel-envios{
    background-color: burlywood;
}

