@import "../variables/variables";

@mixin header-footer {
    padding: 3rem;
    background-color: $color-head-foot;
    color: $color-letras; 
    display: flex;
    justify-content: space-evenly;
   
}

